
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
   /* background: url('assets/space-911785.jpg'); */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #2ec021; Green for sustainability */
}
.logo {
    color: #005bb5; /* Blue for logo */
    font-size: 24px;
}
.logo_home{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    
    animation: scaleLogo 2s linear infinite alternate;
}
@keyframes scaleLogo {
    0% {
        transform: scale(1); /* Initial scale */
    }
    100% {
        transform: scale(1.2); /* Final scale */
    }
}

.logo_home:hover {
    transform: scale(1.1); /* Increase the scale on hover */
}

.menu {
    ul {
        list-style: none;
        display: flex;
    }

    li {
        margin: 0 15px;
    }

    a {
        text-decoration: none;
        /* color:black; */
        color: black;
        font-weight: bold;
        font-size: 16px;
        
    }
}
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.member {
    flex: 0 0 calc(25% - 20px);
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.member h3 {
    margin: 0;
    color: #333;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #2ec021;
    cursor: pointer;
}
.aim-section,
.info-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.greeting-section {
    background-color: #fff; 
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.greeting-section h2 {
    color: #000000; 
}

.greeting-section p {
    color: #333; 
    line-height: 1.6;
}

@media (max-width: 768px) {
    .member {
        flex: 0 0 calc(50% - 20px);
    }
}
@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    
    }

    .menu {
        /* background-color: #000000; */
        ul {
            flex-direction: row;
            align-items: center;

        }

        li {
            margin: 10px 15px;
            
        }
        a{
            color: black;
        }
    }

    .logo_home {
        width: 50px;
        height: 50px;
        justify-content: center;
    }

    .member {
        flex: 0 0 calc(100% - 20px);
    }
}


@media (min-width: 577px) and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .menu {
        /* background-color: #000000; */
        ul {
            flex-direction: column;
            align-items: center;
            margin: 0 -35px;
            text-align: center;
            padding: 5px 51px;
        }

        li {
            margin: 10px 25px;
            text-align: center;
            /* justify-content: center; */
        }
        a{
            color: black;
        }
    }

    .logo_home {
        width: 50px;
        height: 50px;
        justify-content: center;
    }
}
