body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #333;
    margin: 0;
    padding: 20px;
    background-color: white;
    
}
h1 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: underline;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
p {
    margin: 0 0 10px;
}
strong {
    color: #00cd00;
}
h2 {
    color: #00cd00;
}
a {
    color: #00cd00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media only screen and (min-width: 1025px) {
    body {
        padding: 30px;
    }

    h1 {
        font-size: 48px;
    }

    div {
        padding: 30px;
    }

    p {
        font-size: 18px;
    }

    strong {
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    div {
        padding: 10px;
    }

    p {
        font-size: 14px;
    }

    strong {
        font-size: 16px;
    }

    h2 {
        font-size: 18px;
    }
}

/* Add this to your existing CSS */



body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 20px;
    position: relative; 
}

.home{
    background-color: #11ff00; 
    color: black; 
    /* padding: 10px 20px;  */
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
    /* border: 2px solid black; */
    /* margin: 0 90px; */
}
.home:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
}